.homepage .post-title {
  font-size: 1em;
  line-height: 1.8em;
}

.homepage .post-meta {
  float:left;
  width:100px;
}

.homepage .post {
  margin: .8rem auto;
  padding-bottom:.5rem;
}

.nav-links {
  margin:2%;
}
