figure {
  padding-bottom:80px;
}
figure img {
  padding:0px 10px 10px 0px;
}
img, figcaption {
  text-align:center;
  font-style:italic;
}
figure figcaption {
  clear:both;
}
ul.nav-links {
  text-align:center;
  margin:0;
  padding:5%;
}
.nav-links li {
  list-style-type: none;
}

.nav-links li.smaller {
  font-size:.8em;
  line-height:1.5em;
}
.nav-links li a {
  text-decoration: none;
}
.nav-links li a:hover {
  text-decoration: underline;
}

.site-head .custom-header {
  text-align:left;
  width: 75%;
  margin:0 auto;
  clear:both;
}

.site-head .custom-header .content {
  text-align:center;
}

.site-head .custom-header .content img.profile {
  position:relative;
  left:-13em;
  top:5em;
}

.site-head .custom-header .content .inner {
  width: 68%;
}

.site-head .custom-header .content .inner .top-row {
  width:110%;
}

.site-head .custom-header .content h1 {
  white-space:nowrap;
}

.site-head .custom-header .content .inner .blog-description {
  line-height:1em;
}

.site-head .custom-header .content p {
  font-size:.9em;
  line-height:1.5em;
  padding:5% 0;
}

.site-head .custom-header .content .links {
  padding:5%;
}

/* ==========================================================================
   10. Media Queries - Smaller than 500px
   ========================================================================== */


@media only screen and (max-width: 500px) {

  .site-head .custom-header .content .inner .top-row {
    width:100%;
  }

  .site-head .custom-header .content .inner {
    width:100%;
  }

  .site-head .custom-header .content img.profile {
    float:none;
    left:0;
    top:0;
  }

}
